@using CSM.TabulationSystem.Web.Infrastructure.Data.Models;
@model CSM.TabulationSystem.Web.Areas.Manage.ViewModels.Criteria.IndexViewModel;
@{
    Layout = "~/areas/manage/views/shared/_indices.cshtml";
}

@section tableHead{
    <div class="row">
        <div class="col-lg-3">
            <div class="table-responsive table--no-card m-b-30">
                <a href="~/manage/events/@Model.EventId/criteria/create" class="btn btn-lg btn-info btn-block">
                    <i class="fa fa-plus"></i>&nbsp;
                    <span>Add Criterion</span>
                </a>
            </div>
        </div>
    </div>
}

@if (Model.Criteria.Items.Count > 0)
{
    <table class="table table-borderless table-striped table-earning">
        <thead>
            <tr>
                <th>Name</th>
                <th>Percentage</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Criterion criterion in Model.Criteria.Items)
                {
                    <tr>
                        <td>@criterion.Name</td>
                        <td>@criterion.Percentage.ToString("#.00")</td>
                        <td>
                            <a href="~/manage/events/criteria/update/@criterion.Id" title="Update Criterion"><button type="button" class="btn"><i class="fas fa-pen-square"></i></button></a>
                            <a href="#" onclick="confirmDeleteCriterion('@criterion.Id', '@criterion.Name')" title="Delete Criterion"><button type="button" class="btn"><i class="fas fa-times"></i></button></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><span class="form-control-plaintext">Page&nbsp;&nbsp;&nbsp;</span></li>
                            <li class="page-item"><input type="number" value="@Model.Criteria.PageIndex" class="form-control" style="width:50px;" onKeydown="javascript: if(event.keyCode == 13 && isNaN(parseInt($(this).val()))==false) window.location='/manage/events/@Model.EventId/criteria?pageIndex=' + (isNaN(parseInt($(this).val())) ? 1 : parseInt($(this).val()));" /></li>
                            <li class="page-item"><span class="form-control-plaintext">&nbsp;&nbsp;&nbsp;of @Model.Criteria.PageCount&nbsp;&nbsp;&nbsp;</span></li>
                            <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">&laquo;</span></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">&raquo;</span></a></li>
                        </ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>
}


@section extras{
    <div class="modal" tabindex="-1" role="dialog" id="modal-delete-criterion">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Criterion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete <span id="modal-delete-criterion-criterionname"></span>?</p>
                </div>
                <div class="modal-footer">
                    <a href="#" id="modal-delete-criterion-confirm"><button type="button" class="btn btn-danger">Delete Criterion</button></a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@section pageScripts{
    <script type="text/javascript">
        function confirmDeleteCriterion(criterionId, criterionName) {
            $("#modal-delete-criterion-criterionname").html(criterionName);
            $("#modal-delete-criterion-confirm").attr("href", "/manage/events/criteria/delete/" + criterionId);
            $("#modal-delete-criterion").modal("show");
        }
    </script>
}

