@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using CSM.TabulationSystem.Web.Infrastructure.Authentication
@{
    Layout = null;
}
<!-- HEADER DESKTOP-->
<header class="header-desktop3 d-none d-lg-block">
    <div class="section__content section__content--p35">
        <div class="header3-wrap">
            <div class="header__logo">
                <img src="~/images/icon/logo-white-grank.png" alt="Cool Admin" />
                <div style="font-size:x-small">v @System.Reflection.Assembly.GetEntryAssembly().GetName().Version.ToString()</div>
            </div>
            <partial name="~/views/shared/header_navbar.cshtml"/>
            <div class="header__tool">
                <div class="account-wrap">
                    <div class="account-item account-item--style2 clearfix js-item-menu">
                        <div class="image">
                            <img src="/images/icon/avatar-01.png" alt="@WebUser.FullName" />
                        </div>
                        <div class="content">
                            <a class="js-acc-btn" href="#">@WebUser.FullName</a>
                        </div>
                        <div class="account-dropdown js-dropdown">
                            <div class="info clearfix">
                                <div class="image">
                                    <a href="#">
                                        <img src="/images/icon/avatar-01.png" alt="@WebUser.FullName" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h5 class="name">
                                        <a href="#">@WebUser.FullName</a>
                                    </h5>
                                    <span class="email">@WebUser.EmailAddress</span>
                                </div>
                            </div>
                            <div class="account-dropdown__body">
                                <div class="account-dropdown__item">
                                    <a href="~/account/update-profile">
                                        <i class="zmdi zmdi-account"></i>Account
                                    </a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="~/account/change-password">
                                        <i class="zmdi zmdi-lock"></i>Change Password
                                    </a>
                                </div>
                            </div>
                            <div class="account-dropdown__footer">
                                <a href="~/account/logout">
                                    <i class="zmdi zmdi-power"></i>Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- END HEADER DESKTOP-->
